<div class="single-post">
    <a style="text-decoration: none; color: inherit;" href = {{post.url}}>
    <article class="snippet">
        <h1>{{ post.data.title }}</h1>
        <h4> by {{post.data.author}} {{post.date | postDate}}</h4>
        <img src={{post.data.image}} alt={{post.data.imageAlt}}></img>
        <p>{{post.data.description}}</p>
    </article>
    </a>
</div>