<section class="footer">
        <div class="footer-contents">  
            <div class="contact">
                <div  class="heading">
                    <div>Contact</div>
                </div>
                <div class="social">
                    <div><a href="https://github.com/sivamudusu"><i class="fa-brands fa-github"></a></i></div>
                    <div><a href=""><i class="fa-brands fa-slack"></i></a></div>
                    <div><a href=""><i class="fa-brands fa-instagram"></i></a></div>
                    <div><a href="https://www.linkedin.com/in/shiva-mudusu"><i class="fa-brands fa-linkedin"></i></a></div>
                    
                </div>
                <div class="gray">www.devtalkss.netlify.app</div>
                <div class="gray">  siva mudusu</div>
            </div>
           
        </div>
    </section>