<section class="footer">
        <div class="footer-contents">
            <div class="community">
                <div class="heading" >
                    <div>Community</div>
                </div>
                <div class="content">
                    <div>About Us</div>
                    <div>Community</div>
                    <div>Careers</div>
                    <div>Privacy</div>
                </div>
                
            </div>
            <div class="WorkWith">
                <div  class="heading">
                    <div>Work with Us</div>
                </div>
                <div class="content">
                    <div>Careers</div>
                    <div>Advertise</div>
                    <div>Authos and Ads</div>
                    
                </div>
            </div>
            <div class="contact">
                <div  class="heading">
                    <div>Contact Us</div>
                </div>
                <div class="social">
                    <div><i class="fa-brands fa-facebook"></i></div>
                    <div><i class="fa-brands fa-twitter"></i></div>
                    <div><i class="fa-brands fa-instagram"></i></div>
                    <div><i class="fa-brands fa-linkedin"></i></div>
                    
                </div>
            </div>
            <div class="Download">
                <div>
                    <div></div>
                </div>
            </div>
        </div>
    </section>