<header class="header">
        <nav class="mobile-nav">
            <div class="logo">Dev Talks<i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></div>
            <div id="menu" class="menu-toggle" >&#9776;</div>
            <ul id="nav" class="nav-links" >
              <li><a href="/index.html">Home</a></li>
              <li><a href="/blog/index.html">blogs</a></li>
            </ul>
          </nav>
    </header>